@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rubik: var(--font-rubik);
  --color-primary: var(--primary);
  --font-ibmPlex: var(--font-ibmPlex);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-destructive: var(--destructive);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
:root {
  --radius: 0.625rem;
  --background: #f5f3f2;
  --foreground: oklch(0.186 0.01 83.89);
  --primary: oklch(0.73 0.201 56.94);
  --secondary: oklch(0.978 0.003 100);
  --muted: oklch(0.651 0.016 287.24);
  --muted-foreground: oklch(0.529 0.04 260.73);
  --border: oklch(0.847 0.007 281.05);
  --input: oklch(0.978 0.003 100);
  --ring: oklch(0.67 0.024 243.52);
  --destructive: oklch(0.527 0.225 29.23);
  --accent: oklch(0.699 0.176 255.01);
  --accent-foreground: oklch(1 0 0); /* #ffffff */
  --chart-1: oklch(0.695 0.193 26.46);
  --chart-2: oklch(0.782 0.184 144.33);
  --chart-3: oklch(0.693 0.164 251.67);
  --chart-4: oklch(0.963 0.211 104.77);
  --chart-5: oklch(0.713 0.214 48.32);
  --content1: hsl(0 0% 100%);
  --content2: hsl(0 0% 96%);
  --content3: hsl(0 0% 92%);
}

.dark {
  --background: oklch(0 0 0); /* #000000 */
  --foreground: oklch(0.978 0.003 100); /* #f5f5f5 */
  --primary: oklch(0.73 0.201 56.94); /* #ea7831 */
  --primary-foreground: oklch(1 0 0); /* #ffffff */
  --secondary: oklch(0.358 0.053 254.72); /* #4b5563 */
  --muted: oklch(0.302 0.052 261.23); /* #374151 */
  --muted-foreground: oklch(0.819 0.01 231.92); /* #d1d5db */
  --border: oklch(0.302 0.052 261.23); /* #374151 */
  --input: oklch(0.143 0.02 254.44); /* #111827 */
  --ring: oklch(0.529 0.04 260.73); /* #6b7280 */
  --destructive: oklch(0.695 0.193 26.46); /* #f87171 */
  --accent: oklch(0.699 0.176 255.01); /* #3b82f6 */
  --accent-foreground: oklch(1 0 0); /* #ffffff */
  --chart-1: oklch(0.695 0.193 26.46); /* #f87171 */
  --chart-2: oklch(0.782 0.184 144.33); /* #34d399 */
  --chart-3: oklch(0.693 0.164 251.67); /* #60a5fa */
  --chart-4: oklch(0.963 0.211 104.77); /* #facc15 */
  --chart-5: oklch(0.713 0.214 48.32); /* #f97316 */
  --content1: hsl(222 11% 12%);
  --content2: hsl(222 10% 17%);
  --content3: hsl(222 10% 22%);
}
@font-face {
  font-family: "SaudiRiyal";
  src: url("/fonts/saudi_riyal.ttf") format("truetype");
  font-display: swap;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  h1,
  .h1 {
    @apply text-4xl font-bold;
  }
  h2,
  .h2 {
    @apply text-3xl font-bold;
  }
  h3,
  .h3 {
    @apply text-2xl font-bold;
  }
  h4,
  .h4 {
    @apply text-xl font-bold;
  }
  h5,
  .h5 {
    @apply text-lg font-bold;
  }
  h6,
  .h6 {
    @apply text-base font-bold;
  }

  /* Meteor animations */
  .meteor-1 {
    position: absolute;
    top: 74px;
    left: 39%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 8.9s linear infinite;
  }
  .meteor-1:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-2 {
    position: absolute;
    top: 155px;
    left: 68%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 4.6s linear infinite;
  }
  .meteor-2:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-3 {
    position: absolute;
    top: 111px;
    left: 65%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 7.8s linear infinite;
  }
  .meteor-3:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-4 {
    position: absolute;
    top: 154px;
    left: 13%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 9.9s linear infinite;
  }
  .meteor-4:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-5 {
    position: absolute;
    top: 142px;
    left: 54%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 7s linear infinite;
  }
  .meteor-5:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-6 {
    position: absolute;
    top: 297px;
    left: 55%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 3.7s linear infinite;
  }
  .meteor-6:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-7 {
    position: absolute;
    top: 147px;
    left: 27%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 7.4s linear infinite;
  }
  .meteor-7:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-8 {
    position: absolute;
    top: 212px;
    left: 67%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 4.2s linear infinite;
  }
  .meteor-8:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-9 {
    position: absolute;
    top: 92px;
    left: 95%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 9.6s linear infinite;
  }
  .meteor-9:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-10 {
    position: absolute;
    top: 158px;
    left: 94%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 7.6s linear infinite;
  }
  .meteor-10:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-11 {
    position: absolute;
    top: 58px;
    left: 61%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 6.3s linear infinite;
  }
  .meteor-11:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-12 {
    position: absolute;
    top: 160px;
    left: 12%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 7.5s linear infinite;
  }
  .meteor-12:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-13 {
    position: absolute;
    top: 203px;
    left: 36%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 8.5s linear infinite;
  }
  .meteor-13:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-14 {
    position: absolute;
    top: 162px;
    left: 10%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 6.2s linear infinite;
  }
  .meteor-14:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-15 {
    position: absolute;
    top: 229px;
    left: 65%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 9.2s linear infinite;
  }
  .meteor-15:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }
  @keyframes meteor {
    0% {
      opacity: 1;
      margin-top: -300px;
      margin-right: -300px;
    }
    12% {
      opacity: 0;
    }
    15% {
      margin-top: 300px;
      margin-left: -600px;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
