@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rubik: var(--font-rubik);
  --color-primary: var(--primary);
  --font-ibmPlex: var(--font-ibmPlex);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-destructive: var(--destructive);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
:root {
  --radius: 0.625rem;
  --background: #ebe7e5;
  --foreground: #1c1b1a;
  --primary: #ea7831;
  --secondary: #c64813;
  --muted: #a1a1aa;
  --muted-foreground: #6b7280;
  --border: #d4d4d8;
  --input: #f5f5f5;
  --ring: #9ca3af;
  --destructive: #dc2626;
  --accent: #3b82f6;
  --accent-foreground: #ffffff;
  --chart-1: #f87171;
  --chart-2: #34d399;
  --chart-3: #60a5fa;
  --chart-4: #facc15;
  --chart-5: #f97316;
  --content1: hsl(0 0% 100%);
  --content2: hsl(0 0% 96%);
  --content3: hsl(0 0% 92%);
}

.dark {
  --background: #000000;
  --foreground: #f5f5f5;
  --primary: #ea7831;
  --primary-foreground: #ffffff;
  --secondary: #4b5563;
  --muted: #374151;
  --muted-foreground: #d1d5db;
  --border: #374151;
  --input: #111827;
  --ring: #6b7280;
  --destructive: #f87171;
  --accent: #3b82f6;
  --accent-foreground: #ffffff;
  --chart-1: #f87171;
  --chart-2: #34d399;
  --chart-3: #60a5fa;
  --chart-4: #facc15;
  --chart-5: #f97316;
  --content1: hsl(222 11% 12%);
  --content2: hsl(222 10% 17%);
  --content3: hsl(222 10% 22%);
}
@font-face {
  font-family: "SaudiRiyal";
  src: url("/fonts/saudi_riyal.ttf") format("truetype");
  font-display: swap;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  h1,
  .h1 {
    @apply text-4xl font-bold;
  }
  h2,
  .h2 {
    @apply text-3xl font-bold;
  }
  h3,
  .h3 {
    @apply text-2xl font-bold;
  }
  h4,
  .h4 {
    @apply text-xl font-bold;
  }
  h5,
  .h5 {
    @apply text-lg font-bold;
  }
  h6,
  .h6 {
    @apply text-base font-bold;
  }

  /* Meteor animations */
  .meteor-1 {
    position: absolute;
    top: 74px;
    left: 39%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.9s linear infinite;
  }
  .meteor-1:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-2 {
    position: absolute;
    top: 155px;
    left: 68%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 4.6s linear infinite;
  }
  .meteor-2:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-3 {
    position: absolute;
    top: 111px;
    left: 65%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7.8s linear infinite;
  }
  .meteor-3:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-4 {
    position: absolute;
    top: 154px;
    left: 13%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 9.9s linear infinite;
  }
  .meteor-4:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-5 {
    position: absolute;
    top: 142px;
    left: 54%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7s linear infinite;
  }
  .meteor-5:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-6 {
    position: absolute;
    top: 297px;
    left: 55%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 3.7s linear infinite;
  }
  .meteor-6:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-7 {
    position: absolute;
    top: 147px;
    left: 27%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7.4s linear infinite;
  }
  .meteor-7:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-8 {
    position: absolute;
    top: 212px;
    left: 67%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 4.2s linear infinite;
  }
  .meteor-8:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-9 {
    position: absolute;
    top: 92px;
    left: 95%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 9.6s linear infinite;
  }
  .meteor-9:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-10 {
    position: absolute;
    top: 158px;
    left: 94%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7.6s linear infinite;
  }
  .meteor-10:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-11 {
    position: absolute;
    top: 58px;
    left: 61%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 6.3s linear infinite;
  }
  .meteor-11:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-12 {
    position: absolute;
    top: 160px;
    left: 12%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7.5s linear infinite;
  }
  .meteor-12:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-13 {
    position: absolute;
    top: 203px;
    left: 36%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.5s linear infinite;
  }
  .meteor-13:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-14 {
    position: absolute;
    top: 162px;
    left: 10%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 6.2s linear infinite;
  }
  .meteor-14:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-15 {
    position: absolute;
    top: 229px;
    left: 65%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 9.2s linear infinite;
  }
  .meteor-15:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }
  @keyframes meteor {
    0% {
      opacity: 1;
      margin-top: -300px;
      margin-right: -300px;
    }
    12% {
      opacity: 0;
    }
    15% {
      margin-top: 300px;
      margin-left: -600px;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .btn-primary {
    @apply text-white bg-gradient-to-r from-[#ea7831] to-[#c64813];
  }
}
