@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-instrument: var(--font-instrument);
  --font-mono: var(--font-geist-mono);
  --font-mona-sans: var(--font-mona-sans);
  --font-rubik: var(--font-rubik);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --primary: oklch(0.73 0.201 56.94);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --primary: oklch(0.73 0.201 56.94);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@font-face {
  font-family: "SaudiRiyal";
  src: url("/fonts/saudi_riyal.ttf") format("truetype");
  font-display: swap;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  h1,
  .h1 {
    @apply text-4xl font-bold;
  }
  h2,
  .h2 {
    @apply text-3xl font-bold;
  }
  h3,
  .h3 {
    @apply text-2xl font-bold;
  }
  h4,
  .h4 {
    @apply text-xl font-bold;
  }
  h5,
  .h5 {
    @apply text-lg font-bold;
  }
  h6,
  .h6 {
    @apply text-base font-bold;
  }

  /* Meteor animations */
  .meteor-1 {
    position: absolute;
    top: 74px;
    left: 39%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 8.9s linear infinite;
  }
  .meteor-1:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-2 {
    position: absolute;
    top: 155px;
    left: 68%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 4.6s linear infinite;
  }
  .meteor-2:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-3 {
    position: absolute;
    top: 111px;
    left: 65%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 7.8s linear infinite;
  }
  .meteor-3:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-4 {
    position: absolute;
    top: 154px;
    left: 13%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 9.9s linear infinite;
  }
  .meteor-4:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-5 {
    position: absolute;
    top: 142px;
    left: 54%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 7s linear infinite;
  }
  .meteor-5:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-6 {
    position: absolute;
    top: 297px;
    left: 55%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 3.7s linear infinite;
  }
  .meteor-6:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-7 {
    position: absolute;
    top: 147px;
    left: 27%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 7.4s linear infinite;
  }
  .meteor-7:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-8 {
    position: absolute;
    top: 212px;
    left: 67%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 4.2s linear infinite;
  }
  .meteor-8:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-9 {
    position: absolute;
    top: 92px;
    left: 95%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 9.6s linear infinite;
  }
  .meteor-9:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-10 {
    position: absolute;
    top: 158px;
    left: 94%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 7.6s linear infinite;
  }
  .meteor-10:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-11 {
    position: absolute;
    top: 58px;
    left: 61%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 6.3s linear infinite;
  }
  .meteor-11:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-12 {
    position: absolute;
    top: 160px;
    left: 12%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 7.5s linear infinite;
  }
  .meteor-12:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-13 {
    position: absolute;
    top: 203px;
    left: 36%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 8.5s linear infinite;
  }
  .meteor-13:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-14 {
    position: absolute;
    top: 162px;
    left: 10%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 6.2s linear infinite;
  }
  .meteor-14:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }

  .meteor-15 {
    position: absolute;
    top: 229px;
    left: 65%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(
      to right,
      oklch(1 0 0),
      rgba(255, 255, 255, 0)
    );
    animation: meteor 9.2s linear infinite;
  }
  .meteor-15:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px oklch(1 0 0);
  }
  @keyframes meteor {
    0% {
      opacity: 1;
      margin-top: -300px;
      margin-right: -300px;
    }
    12% {
      opacity: 0;
    }
    15% {
      margin-top: 300px;
      margin-left: -600px;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
